<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>hi, welcome to the bar</p>
{{if .Role}}
    {{.Email}}
    {{.Password}}
    {{.Fname}}
    {{.Lname}}
{{end}}
<a href="/">home</a>
</body>
</html>